body{
    position: relative;
    background: linear-gradient(89.86deg, rgba(12, 205, 163, 0.7) 37.76%, rgba(66, 0, 255, 0.5) 88.4%);
}
.header{
    position: absolute;
    left: 610px;
    margin-top: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
    top: -10px;
    
}
.login-box{
    position: absolute;
    width: 900px;
    height: 400px;
    left: 240px;
    top: 150px;
    background: #FFFFFF;
    box-shadow: 40px 4px 70px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    
    
    }
.avtar{
    
    position: absolute;
    width: 150px;
    height: 150px;
    left: 365px;
    top: -70px;
}
::placeholder {
    position: absolute;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 30px;
line-height: 28px;
color: rgba(21, 20, 20, 0.3);
top: 18px;

  }
  input {
    text-indent: 90px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 24px;



color: rgba(35, 35, 37, 0.658);
  }
#emailin
{
    
    position: absolute;
    width: 650px;
    height: 63px;
    left: 122px;
    top: 107px;
    
    background: rgba(71, 55, 211, 0.1);
border: none;
background: rgba(71, 55, 211, 0.1);
border-radius: 4px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
font-size: 25px;
border-radius: 10px;
}
#emailin:hover{
    border: 3px solid ;
    border-color: rgb(0, 216, 245);
    
}
#mailimgin{
    position: absolute;
    left: 16%;
    right: 40.02%;
    top: 31.3%;
    bottom: 62.24%;
    
    
}
#passwordimgin{
    position: absolute;
    left: 16%;
    right: 40.02%;
    top: 55.3%;
    bottom: 62.24%;


}
#passwordin
{
    position: absolute;
    width: 650px;
    height: 63px;
    left: 122px;
    top: 210px;
    
    background: rgba(71, 55, 211, 0.1);
border: none;
background: rgba(71, 55, 211, 0.1);
border-radius: 4px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
font-size: 25px;
border-radius: 10px;
}

#passwordin:hover {
    border: 3px solid ;
    border-color: rgb(0, 216, 245);
    
}
  /*button*/
  .btn{
    position: absolute;
    width: 199px;
    height: 69px;
    left: 340px;
    top: 300px;
    border: none;
    background: linear-gradient(102.71deg, rgba(66, 0, 255, 0.738) 26.26%, rgba(12, 186, 148, 0.82) 67.82%);
    border-radius: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
  }
  .btn:hover{
    filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.50));
    top: 298px;
  }
 
.social-container a {
    position: absolute;
    width: 280px;
    height: 65px;
    left: 185px;
    border-radius: 20px;
    top: 568px;
    background-color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #1b1b1b;
}
#fb{
    margin-left: 365px;
}
#linkdin{
    margin-left: 730px;
}
#google:hover{
    filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.50));
    left: 182px;
}
#fb:hover{
    filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.50));
    margin-left: 362px;
}
#linkdin:hover{
    filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.50));
    margin-left: 727px;
}
